body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: rgba(45, 85, 131, 0.397);
}
.container {
  position: relative;
  width: 900px;
  height: 400px;
  background-color: #418fcb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  border: 4px #000 solid;
  border-radius: 10px;
}
input {
  width: 450px;
  margin: 10px;
  color: #000;
  border: 2px #000 solid;
  padding: 5px;
}
input::placeholder {
  color: #000;
  letter-spacing: 1px;
}
button {
  width: 150px;
  height: 60px;
  background-color: #fff;
  color: #000;
  margin: 30px;
  border: 2px #000 solid;
  border-radius: 5px;
}
.img{
    width: 100px;
}
